/* small devices */
/* orientation mode */
@media screen and (max-width: 600px) {
        
.my-card, .my-card-media, .my-card-subtitle, .my-card-text, .my-card-title, .title {
    font-family: var(--wedding-Str-Font);
    text-align: center;
}

    #scheduleContainer {
    position: relative;
    height: 100vh;
}

#scheduleHmeBtn {
    position: fixed;
    left: 10px;
    top: 5px;
    max-width: 5rem;
    padding: 2px 2px;
    z-index: 2;
}

.my-timeline {
    font-family: var(--wedding-Str-Font);
}

.my-controls {
    /* border: 2px solid red; */
    width: 50vh;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.TimelineNavItem-sc-3apb8f9-1, .TimelineNavItem-sc-1apb8f9-1 {
    font-size: xx-large;
    margin: auto;
}


.my-card {
}

.my-card-media {
}

}

/* landscape mode */
@media only screen and (max-width: 800px){
    
.my-card + 

    #scheduleContainer {
    position: relative;
    height: 100vh;
}

#scheduleHmeBtn {
    position: fixed;
    left: 10px;
    top: 5px;
    max-width: 5rem;
    padding: 2px 2px;
    z-index: 2;
}

.my-timeline {
    font-family: var(--wedding-Str-Font);
}

.my-controls {
    /* border: 2px solid red; */
    width: 50vh;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.TimelineNavItem-sc-3apb8f9-1, .TimelineNavItem-sc-1apb8f9-1 {
    font-size: xx-large;
    margin: auto;
}


.my-card {
    background-color: var(--);
}

.my-card-media {
}

}