# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/
dist/
.secret-*
**.sample

.VSCodeCounter/2023-10-02_14-21-06
# Local Netlify folder
.netlify
