@media screen and (min-aspect-ratio: 10/11) {


#weddingPartyPage {
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

  #wedTeamTitle {
  font-family: var(--wedding-Cursive);
  color: var(--wedding-gold);
  font-size: 3.5rem;
}

.wedTeamContainer {
  font-family: var(--wedding-Str-Font);
  position: absolute;
  top: 20vh;
  left: 3rem;
}

.wedTopSlider {
  display: flex;
  overflow-x: scroll;
}

.sliderImg {
  height: 5rem;
  margin: .5rem;
}

.stylingBox {
  display: flex;
  justify-content: cemter;
  align-items: flex-end;
  height: 5rem;
  background-color: var(--wedding-gold);
  position: relative;
  margin: 1rem 5rem;
}

.stylingBoxText {
  position: absolute;
  bottom: 0;
  left: 35%;
  color: white;
  transform: translateX(-20%);
  font-family: var(--wedding-Str-Font);
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%);
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}

.largeImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100%;
}

}

@media screen and (max-aspect-ratio: 10/11) {


#weddingPartyPage {
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

  #wedTeamTitle {
  font-family: var(--wedding-Cursive);
  color: var(--wedding-gold);
  font-size: 3.5rem;
}

.wedTeamContainer {
  font-family: var(--wedding-Str-Font);
  position: absolute;
  top: 25vh;
}

.wedTopSlider {
  display: flex;
  overflow-x: scroll;
}

.sliderImg {
  height: 5rem;
  margin: .5rem;
}

.stylingBox {
  display: flex;
  justify-content: cemter;
  align-items: flex-end;
  height: 5rem;
  background-color: var(--wedding-gold);
  position: relative;
  margin: 1rem 5rem;
}

.stylingBoxText {
  position: absolute;
  bottom: 0;
  left: 35%;
  color: white;
  transform: translateX(-20%);
  font-family: var(--wedding-Str-Font);
  -webkit-transform: translateX(-20%);
  -moz-transform: translateX(-20%);
  -ms-transform: translateX(-20%);
  -o-transform: translateX(-20%);
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}

.largeImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100%;
}


}