/* small devices */
/* orientation mode */
@media screen and (min-aspect-ratio: 10/11) {

    #moneyImg {
        /* border: 2px solid red; */
        height: 75vh;
    }

#registryPageContainer {
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--wedding-Str-Font);
}

#MR_GlobalWrapper {
    border: 2px solid blue;
}

.cashAppButton {
    font-family: var(--wedding-Str-Font);
    background-color: var(--wedding-gold);
    text-decoration: none;
    color: black;
    padding: .5rem;
    font-weight: bold;
    margin: .5rem 3rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}


.registryContainer {
    
}

#registryAside {
    font-size: large;
}
.cashAppContainer {
 height: fit-content;
 width: fit-content;
}

.cashAppButton {
    
}

.zelleContainer {
    
}

#script_myregistry_giftlist_iframe {
    overflow-y: scroll;
}
}

/* small devices */
/* orientation mode */
@media screen and (max-aspect-ratio: 10/11) {
#registryPageContainer {
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--wedding-Str-Font);
}

#MR_GlobalWrapper {
    border: 2px solid blue;
}

.cashAppButton {
    font-family: var(--wedding-Str-Font);
    background-color: var(--wedding-gold);
    text-decoration: none;
    color: black;
    padding: .5rem;
    font-weight: bold;
    margin: .5rem 3rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
    
.registryContainer {
    
}

#registryAside {
    font-size: large;
}
.cashAppContainer {
 height: fit-content;
 width: fit-content;
}

.cashAppButton {
    
}

.zelleContainer {
    
}

#script_myregistry_giftlist_iframe {
    overflow-y: scroll;
}
.mrw_isMobile {
    
}


}

/* medium devices */
/* orientation mode */
@media screen and (max-width: 1600px) {
#registryPageContainer {
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--wedding-Str-Font);
}

#MR_GlobalWrapper {
    border: 2px solid blue;
}

.cashAppButton {
    font-family: var(--wedding-Str-Font);
    background-color: var(--wedding-gold);
    text-decoration: none;
    color: black;
    padding: .5rem;
    font-weight: bold;
    margin: .5rem 3rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
    
.registryContainer {
    
}

#registryAside {
    font-size: large;
}
.cashAppContainer {
 height: fit-content;
 width: fit-content;
}

.cashAppButton {
    
}

.zelleContainer {
    
}

#script_myregistry_giftlist_iframe {
    overflow-y: scroll;
}
.mrw_isMobile {
    
}


}

/* medium devices */
/* orientation mode */
@media screen and (max-width: 1600px) and (orientation: landscape) {
    #registryPageContainer {
        height: 100vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: var(--wedding-Str-Font);
    }
    
    #MR_GlobalWrapper {
        border: 2px solid blue;
    }
    
    .cashAppButton {
        font-family: var(--wedding-Str-Font);
        background-color: var(--wedding-gold);
        text-decoration: none;
        color: black;
        padding: .5rem;
        font-weight: bold;
        margin: .5rem 3rem;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
        
    .registryContainer {
        
    }
    
    #registryAside {
        font-size: large;
    }
    .cashAppContainer {
     height: fit-content;
     width: fit-content;
    }
    
    .cashAppButton {
        
    }
    
    .zelleContainer {
        
    }
    
    #script_myregistry_giftlist_iframe {
        overflow-y: scroll;
    }
    .mrw_isMobile {
        
    }
    
    
    }