/* small devices portrait mode */
/* @media only screen and (max-width: 400px) and (max-height: 800px) and (orientation: portrait) { */
    @media only screen and (max-width: 1000px) and (max-height: 1000px) and (orientation: portrait) {
    #accomdPage {
        height: 100vh;
        width: 100%;
        background: url('../../assets/accomodation.jpg');
        /* background-position: center; */
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .accomdTopLayer, .accomdBottomLayer {
        margin: 1.5rem;
    }

    .accomdTopTitle, .accomdBottomTitle {
        font-family: var(--wedding-Cursive);
        font-size: 8vh;
        position: absolute;
        width: 90%;
        top: 0;
        margin-right: auto;
        /* margin-left: auto;
        margin-right: auto; */
    }

    .accomdTopLayerContent, .accomdBottomLayerContent {
        font-size: 15px;
        font-family: var(--wedding-Str-Font);
    }

    .accomdLink {
        /* position: absolute;
        top: 65%;
        left: 50%; */
        transform: translateX(-50%);
        font-size: 15px;
        text-decoration: none;
        color: black;
        background-color: var(--wedding-gold);
        font-family: var(--wedding-Str-Font);
        animation: accomPulse 2s ease-in-out infinite;
        transform-origin: center center;
        border-radius: 12px;
        padding: 5px;
        position: absolute;
        bottom: 29%;
        right: 7.5%;
    }

    /* .accomdLink {
        position: absolute;
        top: 1rem;
        left: 2.5vh;
        font-size: 15px;
        text-decoration: none;
        color: black;
        background-color: var(--wedding-gold);
        font-family: var(--wedding-Str-Font);
        animation: accomPulse 2s ease-in-out infinite;
        transform-origin: center center;
        border-radius: 12px;
        padding: 5px;
    } */

    /* .topAccomdPic {
        height: 10vh;
        max-height: 100%;
        background-image: url("../../assets/topAccomdPic.jpg");
        background-size: cover;
        background-position: center;
    }

    .bottomAccomdPic {
        height: 10vh;
        max-height: 100%;
        background-image: url("../../assets/bottomAccomdPic.png");
        background-size: cover;
        background-position: center;
    } */

    @keyframes accomPulse {
        0% {
            transform: scale(.7);
            background-color: var(--wedding-gold);
        }
        50% {
            transform: scale(.8);
            background-color: var(--wedding-gold);
        }
        100% {
            transform: scale(.7);
            background-color: var(--wedding-gold);
        }
    }
}

/* small devices */
/* landscape mode */
/* @media only screen and (min-width: 625px) and (max-width: 800px) and (min-height: 300px) and (max-height: 450px) and (orientation: landscape) { */
    /* @media only screen and (min-width: 900px) and (max-height: 400px) and (orientation: landscape) { */
        @media only screen and (max-width: 1000px) and (max-height: 1000px) and (orientation: landscape) {
            #accomdPage {
                height: 100vh;
                background: url('../../assets/accomodation.jpg');
                /* background-position: center; */
                background-size: 90% 90%;
                background-position: center;
                background-repeat: no-repeat;
            }
        
            .accomdTopLayer, .accomdBottomLayer {
                margin: 1.5rem;
            }
        
            .accomdTopTitle, .accomdBottomTitle {
                font-family: var(--wedding-Cursive);
                font-size: 16vh;
                position: absolute;
                width: 90%;
                top: 0;
                margin-right: auto;
                /* margin-left: auto;
                margin-right: auto; */
            }
        
            .accomdTopLayerContent, .accomdBottomLayerContent {
                font-size: 15px;
                font-family: var(--wedding-Str-Font);
            }
        
            .accomdLink {
                /* position: absolute;
                top: 65%;
                left: 50%; */
                transform: translateX(-50%);
                font-size: 15px;
                text-decoration: none;
                color: black;
                background-color: var(--wedding-gold);
                font-family: var(--wedding-Str-Font);
                animation: accomPulse 2s ease-in-out infinite;
                transform-origin: center center;
                border-radius: 12px;
                padding: 5px;
                position: absolute;
                top: 10%;
                right: 17%;
            }

    /* .accomdLink {
        position: absolute;
        top: 1rem;
        left: 4.5vh;
        font-size: 15px;
        text-decoration: none;
        color: black;
        background-color: var(--wedding-gold);
        font-family: var(--wedding-Str-Font);
        animation: accomPulse 2s ease-in-out infinite;
        transform-origin: center center;
        border-radius: 12px;
        padding: 5px;
    } */

    /* .topAccomdPic {
        height: 10rem;
        max-height: 100%;
        background-image: url("../../assets/topAccomdPic.jpg");
        background-size: cover;
        background-position: center;
    }

    .bottomAccomdPic {
        height: 30vh;
        max-height: 100%;
        background-image: url("../../assets/bottomAccomdPic.png");
        background-size: cover;
        background-position: center;
    } */

    @keyframes accomPulse {
        0% {
            transform: scale(.7);
            background-color: var(--wedding-gold);
        }
        50% {
            transform: scale(.8);
            background-color: var(--wedding-gold);
        }
        100% {
            transform: scale(.7);
            background-color: var(--wedding-gold);
        }
    }
}

  /* medium devices */
/* portrait mode */
@media only screen and (min-width: 700px) and (max-width: 900px) and (max-height: 1000px) and (min-height: 800px) and (orientation: portrait) {
    #accomdPage {
        height: 100vh;
        width: 100vh;
        background-repeat: no-repeat;
        background: url('../../assets/accomodation.jpg');
        /* background-position: center; */
        background-size: 84vh 100vh;
    }

    .accomdTopLayer, .accomdBottomLayer {
        margin: 1.5rem;
    }

    .accomdTopTitle, .accomdBottomTitle {
        font-family: var(--wedding-Cursive);
        font-size: 10vh;
    }

    .accomdTopLayerContent, .accomdBottomLayerContent {
        font-size: 15px;
        font-family: var(--wedding-Str-Font);
    }

    .accomdLink {
        position: absolute;
        bottom: 20.2rem;
        right: 14.5vh;
        font-size: 20px;
        text-decoration: none;
        color: black;
        background-color: var(--wedding-gold);
        font-family: var(--wedding-Str-Font);
        animation: accomPulse 2s ease-in-out infinite;
        transform-origin: center center;
    }

    @keyframes accomPulse {
        0% {
            transform: scale(.7);
            background-color: var(--wedding-gold);
        }
        50% {
            transform: scale(.8);
            background-color: var(--wedding-gold);
        }
        100% {
            transform: scale(.7);
            background-color: var(--wedding-gold);
        }
    }
}

/* medium device */
/* landscape mode */
@media only screen and (min-width: 1000px) and (max-width: 1600px) and (min-height: 650px) and (max-height: 750px) and (orientation: landscape) {
    #accomdPage {
        height: 100vh;
        width: 100vh;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background: url('../../assets/accomodation.jpg');
        background-size: contain;
    }

    .accomdTopLayer, .accomdBottomLayer {
        margin: 1.5rem;
    }

    .accomdTopTitle, .accomdBottomTitle {
        font-family: var(--wedding-Cursive);
        font-size: 10vh;
    }

    .accomdTopLayerContent, .accomdBottomLayerContent {
        font-size: 15px;
        font-family: var(--wedding-Str-Font);
    }

    .accomdLink {
        position: absolute;
        bottom: 14.3rem;
        right: 42.5vh;
        font-size: 20px;
        text-decoration: none;
        color: black;
        background-color: var(--wedding-gold);
        font-family: var(--wedding-Str-Font);
        animation: accomPulse 2s ease-in-out infinite;
        transform-origin: center center;
    }

    @keyframes accomPulse {
        0% {
            transform: scale(.7);
            background-color: var(--wedding-gold);
        }
        50% {
            transform: scale(.8);
            background-color: var(--wedding-gold);
        }
        100% {
            transform: scale(.7);
            background-color: var(--wedding-gold);
        }
    }
}

/* computer monitor */
@media only screen and (min-width: 1400px) and (max-width: 1700px) and (max-height: 1000px) and (min-height: 700px) {
    #accomdPage {
        height: 100vh;
        width: 100vh;
        margin-left: 50vh;
        background-repeat: no-repeat;
        background: url('../../assets/accomodation.jpg');
        background-size: cover;
    }

    .accomdTopLayer, .accomdBottomLayer {
        margin: 1.5rem;
    }

    .accomdTopTitle, .accomdBottomTitle {
        font-family: var(--wedding-Cursive);
        font-size: 10vh;
    }

    .accomdTopLayerContent, .accomdBottomLayerContent {
        font-size: 15px;
        font-family: var(--wedding-Str-Font);
    }

    .accomdLink {
        position: absolute;
        bottom: 14.5rem;
        right: 79vh;
        font-size: 20px;
        text-decoration: none;
        color: black;
        background-color: var(--wedding-gold);
        font-family: var(--wedding-Str-Font);
        animation: accomPulse 2s ease-in-out infinite;
        transform-origin: center center;
    }

    @keyframes accomPulse {
        0% {
            transform: scale(.7);
            background-color: var(--wedding-gold);
        }
        50% {
            transform: scale(.8);
            background-color: var(--wedding-gold);
        }
        100% {
            transform: scale(.7);
            background-color: var(--wedding-gold);
        }
    }

}