/* small devices */
/* orientation mode */
@media screen and (max-width: 900px) and (max-height: 1000px) and (orientation: portrait) {
    #accomdPage {
        border: 2px solid red;
    }
}

/* small devices / landscape   edit this one*/
@media screen and (max-width: 800px) and (max-height: 400px) and (orientation: landscape) {
    #accomdPage {
        border: 2px solid blue;
    }
}

/* tablets (portrait) */

@media screen and (min-width: 700px) and (max-width: 1100px) and (max-height: 1000px) and (min-height: 800px) and (orientation: portrait) {
    #accomdPage {
        border: 2px solid yellow;
    }
}

/* tablets (landscape) */

@media screen and (min-width: 1000px) and (max-width: 1200px) and (min-height: 600px) {
    #accomdPage {
        border: 2px solid green;
    }
}

/* computer monitor */
@media screen and (min-width: 1500px) and (max-width: 1700px) and (max-height: 1000px) and (min-height: 700px) {
    #accomdPage {
        height: 100vh;
        width: 100vh;
        margin-left: 50vh;
        background-repeat: no-repeat;
        background: url('../../assets/accomodations.jpg');
        background-size: cover;
    }
}