@media screen and (max-width: 600px) {

    .rsvpTitle {
        font-family: var(--wedding-Cursive);
        font-size: 40px;
    }

    #rsvpPage {
        height: 100vh;
        overflow-y: scroll;
        color: var(--wedding-gold);
        /* font-family: var(--wedding-Str-Font); */
    }

    .rsvpBox {
        border: 2px solid black;
    }

    .rsvpP {
        font-size: larger;
    }

    #formInput {
        margin: 5px;
    }

    #linkContainer {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    #linkContainer > aside {
        font-size: xx-large;
        display: flex;
        border-bottom: 1px solid var(--wedding-gold);
    }



    #linkContainer a {
        text-decoration: none;
        color: var(--wedding-gold);
        font-weight: bold;
        margin: 0 5px;
        font-family: var(--wedding-Str-Font);
        font-size: larger;
    }

    #linkContainer a:hover {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 800px){

    .rsvpTitle {
        font-family: var(--wedding-Cursive);
        font-size: 40px;
    }

    #rsvpPage {
        height: 100vh;
        overflow-y: scroll;
        color: var(--wedding-gold);
        font-family: var(--wedding-Str-Font);
    }

    .rsvpBox {
        border: 2px solid black;
    }

    .rsvpP {
        font-size: larger;
    }

    #formInput {
        margin: 5px;
    }

    #linkContainer {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    #linkContainer > aside {
        font-size: xx-large;
        display: flex;
        border-bottom: 1px solid var(--wedding-gold);
    }

    #linkContainer a {
        text-decoration: none;
        color: var(--wedding-gold);
        font-weight: bold;
        margin: 0 5px;
        font-family: var(--wedding-Str-Font);
        font-size: larger;
    }


}