@media screen and (max-aspect-ratio: 10/11) {
    .nameContainer {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 30px;
        width: 30%;
        overflow: hidden;
    }

    .form {
        display: flex;
        justify-content: space-between;
        width: 50%;
        position: relative;
        height: 60px;
        overflow: hidden;
      }

      .formNameContainer {
        display: flex;
        justify-content: space-between;
      }

      .formEmailContainer {
        display: flex;
        justify-content: center;
      }

      .formPhoneContainer {
        display: flex;
        justify-content: center;
      }
      
      .form input {
        font-family: var(--wedding-Str-Font);
        width: 100%;
        height: 100%;
        color: var(--wedding-gold);
        padding-top: 20px;
        border: none;
        background-color: var(--main-bg);
      }
      .form label {
        font-family: var(--wedding-Str-Font);
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 9rem;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid var(--wedding-gold);
      }
      .form label::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid var(--wedding-gold);
        transform: translateX(-100%);
        transition: all 0.3s ease;
        font-family: var(--wedding-Str-Font);
      }
      
      .content-name {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-bottom: 5px;
        transition: all 0.3s ease;
        color: var(--wedding-gold);
      }
      .form input:focus {
        outline: none;
      }
      .form input:focus + .label-name .content-name,
      .form input:valid + .label-name .content-name {
        transform: translateY(-150%);
        font-size: 14px;
        left: 0px;
        color: var(--wedding-gold);
        -webkit-transform: translateY(-150%);
        -moz-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
        -o-transform: translateY(-150%);
}
      .form input:focus + .label-name::after,
      .form input:valid + .label-name::after {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}

    .rsvpTitle {
        font-family: var(--wedding-Cursive);
        font-size: 40px;
    }

    #rsvpPage { 
        height: 100%;
        overflow-y: scroll;
        color: var(--wedding-gold);
        font-family: var(--wedding-Str-Font);
    }

    .captcha-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .rsvpBox {
        border: 2px solid black;
    }

    .rsvpP {
        font-size: larger;
    }

    #formInput {
        margin: 5px;
    }

    .rsvpFormsTitle {
        font-size: 16px;
    }

    #rsvpText {
        font-size: 14px;
    }

    #linkContainer {
        display: flex;
        justify-content: center;
    }

    #linkContainer > aside {
        font-size: xx-large;
        display: flex;
        border-bottom: 1px solid var(--wedding-gold);
        padding: auto;
        margin: 1rem;
    }



    #linkContainer a {
        text-decoration: none;
        color: var(--wedding-gold);
        font-weight: bold;
        margin: 0 5px;
        font-family: var(--wedding-Str-Font);
        font-size: larger;
    }

    .rsvpSubmit {
        font-family: var(--wedding-Str-Font);
        font-size: x-large;
        height: fit-content;
        width: fit-content;
        text-align: center;
        border: none;
        background: var(--wedding-gold);
        padding: auto;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
}

    #linkContainer a:hover {
        text-decoration: underline;
    }
}

@media screen and (min-aspect-ratio: 10/11){
    .nameContainer {
        display: flex;
        flex-direction: row;
        position: relative;
        height: 30px;
        width: 30%;
        overflow: hidden;
    }

    .form {
        display: flex;
        justify-content: space-between;
        width: 50%;
        position: relative;
        height: 60px;
        overflow: hidden;
      }

      .formNameContainer {
        display: flex;
        justify-content: space-between;
        margin-left: 50vh;
      }

      .formEmailContainer {
        display: flex;
        justify-content: center;
        margin-left: 50vh;
      }

      .formPhoneContainer {
        display: flex;
        justify-content: center;
        margin-left: 50vh;
      }
      
      .form input {
        font-family: var(--wedding-Str-Font);
        width: 100%;
        height: 100%;
        color: var(--wedding-gold);
        padding-top: 20px;
        border: none;
        background-color: var(--main-bg);
      }
      .form label {
        font-family: var(--wedding-Str-Font);
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 9rem;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid var(--wedding-gold);
      }
      .form label::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-bottom: 3px solid var(--wedding-gold);
        transform: translateX(-100%);
        transition: all 0.3s ease;
        font-family: var(--wedding-Str-Font);
      }
      
      .content-name {
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding-bottom: 5px;
        transition: all 0.3s ease;
        color: var(--wedding-gold);
      }
      .form input:focus {
        outline: none;
      }
      .form input:focus + .label-name .content-name,
      .form input:valid + .label-name .content-name {
        transform: translateY(-150%);
        font-size: 14px;
        left: 0px;
        color: var(--wedding-gold);
        -webkit-transform: translateY(-150%);
        -moz-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
        -o-transform: translateY(-150%);
}
      .form input:focus + .label-name::after,
      .form input:valid + .label-name::after {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}

    .rsvpTitle {
        font-family: var(--wedding-Cursive);
        font-size: 40px;
    }

    #rsvpPage {
        height: 100%;
        overflow-y: scroll;
        color: var(--wedding-gold);
        font-family: var(--wedding-Str-Font);
    }

    .captcha-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .rsvpBox {
        border: 2px solid black;
    }

    .rsvpP {
        font-size: larger;
    }

    #formInput {
        margin: 5px;
    }

    .rsvpFormsTitle {
        font-size: 16px;
    }

    #rsvpText {
        font-size: 14px;
    }

    #linkContainer {
        display: flex;
        justify-content: center;
    }

    #linkContainer > aside {
        font-size: xx-large;
        display: flex;
        border-bottom: 1px solid var(--wedding-gold);
        padding: auto;
        margin: 1rem;
    }

    #linkContainer a {
        text-decoration: none;
        color: var(--wedding-gold);
        font-weight: bold;
        margin: 0 5px;
        font-family: var(--wedding-Str-Font);
        font-size: larger;
    }

    .rsvpSubmit {
        font-family: var(--wedding-Str-Font);
        font-size: x-large;
        border-radius: 12px;
        height: fit-content;
        width: fit-content;
        text-align: center;
        justify-content: center;
        border: none;
        background: var(--wedding-gold);
        padding: auto;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
}


}

/* medium sizes */
/* @media only screen and (max-width: 1600px){

    .rsvpTitle {
        font-family: var(--wedding-Cursive);
        font-size: 40px;
    }

    #rsvpPage {
        height: 100%;
        overflow-y: scroll;
        color: var(--wedding-gold);
        font-family: var(--wedding-Str-Font);
    }

    .captcha-container {

    }


    .rsvpBox {
        border: 2px solid black;
    }

    .rsvpP {
        font-size: larger;
    }

    #formInput {
        margin: 5px;
    }

    #linkContainer {
        display: flex;
        justify-content: center;
    }

    #linkContainer > aside {
        font-size: xx-large;
        display: flex;
        border-bottom: 1px solid var(--wedding-gold);
        padding: auto;
        margin: 1rem;
    }

    #linkContainer a {
        text-decoration: none;
        color: var(--wedding-gold);
        font-weight: bold;
        margin: 0 5px;
        font-family: var(--wedding-Str-Font);
        font-size: larger;
    }

    .rsvpSubmit {
        font-family: var(--wedding-Str-Font);
        font-size: x-large;
        border-radius: 12px;
        height: 1.5rem;
        border: none;
        box-shadow: 1rem blue;
    }


} */